
.navigation{
    border-radius: 10px;
    border: 1px solid #ced9ce;
    font-size: 15px;
    transition: transform 0.2s ease-in-out;
    font-family: 'Audiowide', cursive;
    background-color: #282A36;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    color: #9a9ea1;
  }
  
  .selected {
    /* transform: scale(1.1); */
    border: 3px solid #4a8522
  }

  .linksContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 10vh;
    margin-left: 10vh;
    flex-wrap: wrap;
  }

  .logoContainer {
    max-height: 6vh;
    padding: 1px;
    display: flex;
    justify-content: flex-start;
}
  .image{
    padding-right: 8px;
    display: flex;

    height: 35px;
 
  } 

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;

    
  }


